html {
    font-family: 'Poppins', sans-serif;
}

#header {
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: darkgoldenrod;
    text-align: center;
}

#header h2 {
    margin-top: auto;
}

#content-section {
    display: flex;
    height: 90vh;
}

#search {
    text-align: center;
}

#menu-panel {
    width: 40vw;
    height: 90vh;
    margin-top: 10vh;
    
    border: 1px solid black;
    overflow: scroll;
}

#menu-container {
    margin-top: auto;
    overflow: scroll;
}

.active-filter {
    background-color: darkgoldenrod;
}

.menu-block {
    width: 100%;
    z-index:99;
    height: 70px;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-block span {
    margin-left: 5px;
}

.caption {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-style: italic;
}

.icon {
    height: 100%;
    margin-right: 5px;
}

#content-panel {
    width: 60vw;
    height: 90vh;
    margin-top: 10vh;

    border: 1px solid black;

}

#map {
    height: 50vh;
    
    position: fixed;
}

#details {
    text-align: left;
    display: flex;
    align-items: center;
}

#details-container {
    
    
    margin: auto;
}

#details span {
    color: darkgray;
}