/* global stuff */
html {
    font-family: 'Poppins', sans-serif;
}

/* header area */
#header {
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: darkgoldenrod;
    text-align: center;
}

#header h2 {
    margin-top: auto;
}

/* main body section */
#content-section {
    display: flex;
    height: 90vh;
}

/* search area/form */
#search {
    text-align: center;
    position: fixed;
    top: 45px;
    margin-left: 10px;
    z-index: 99;
}

/* left side/search results */
#menu-panel {
    width: 40vw;
    height: 90vh;
    margin-top: 10vh;
    
    border: 1px solid black;
    overflow: scroll;
}

#menu-container {
    margin-top: auto;
    overflow: scroll;
}

.menu-block {
    width: 100%;
    z-index:99;
    height: 70px;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.menu-block span {
    margin-left: 5px;
}

#search-icon {
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.caption {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-style: italic;
}

/* right side of screen/detail view and map */
#content-panel {
    width: 60vw;
    height: 90vh;
    margin-top: 10vh;

    
    border: 1px solid black;
    overflow: scroll;

}

#map {
    height: 50vh;    
    position: fixed;
}

/* detail view */
#details {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}

#beer-details {
    margin: auto;
    display: none;
    width: 80%;
}

#detail-image {
    margin-top: 30px;
}

#brewery-details {
    margin: auto;
    display: none;
    /* width: 80%; */
}

.detail-label {
    background-color: darkgoldenrod;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0 10px;
    white-space: pre;
}

span.rating-radio {
    display: inline-block;
    font-size: 8;
    direction: rtl;
    unicode-bidi: bidi-override;
    flex-direction: row;
}
